body {
  height: fit-content;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; 
}

header, footer {
  padding: 20px;
  background-color: rgb(26, 26, 26);
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  font-size: 10px;
}

h1, h2 {
  border-bottom: 1px solid greenyellow;
  padding-bottom: 10px;
}

.icon {
  color: greenyellow;
}

main {
  padding: 2vw;
  min-height: calc(100vh - 40px);
  background-color: rgb(32, 32, 32);
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;

}

#main-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.class-box {
  background: rgb(42, 42, 42);
  color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  border: 10px solid rgb(32, 32, 32);
}

h2 {
  text-align: left;
}

.circular {
  margin-left: 5px !important;
}

.search-symbol {
  padding: 0 0 0 10px;
}

.stock-data, .crypto-data {
  overflow: hidden;
  min-height: 350px;
}

.stock-searches, .crypto-searches {
  text-align: center;
  border-top: 1px solid greenyellow;
  padding-top: 15px;
}

h4 {
  text-align: left;
}

.saved-btn {
  margin: 10px !important;
  color: greenyellow !important;
  background-color: rgb(26, 26, 26) !important;
  min-width: 100px;
}

.search-return {
  margin-top: 70px;
  background-color: rgb(29, 29, 29);
  border: 1px solid whitesmoke;
  color: greenyellow;
  border-radius: 10px;
}

.amount {
  margin-top: auto;
  padding: 20px !important;
  color: whitesmoke;
}

.more-info-btn {
  color: greenyellow !important;
  margin: 20px !important;
}

@media all and (max-width: 480px) { 
  header {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .search {
    text-align: center;
  }
  footer {
    text-align: center;
  }
}