body {
  height: fit-content;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; 
}

header, footer {
  background-image: initial;
  padding: 20px;
  background-color: rgb(26, 26, 26);
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  font-size: 10px;
}

h1, h2 {
  padding: 1vw;
  border-bottom: 1px solid yellowgreen;
}

.icon {
  color: yellowgreen;
}

main {
  padding: 2vw;
  min-height: calc(100vh - 40px);
  /* height: auto !important; */
  background-color: rgb(32, 32, 32);
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;

}

#main-content {
  padding-top: 15px;
}

.class-box {
  /* height: 100vh; */
  background: rgb(42, 42, 42);
  color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  border: 10px solid rgb(32, 32, 32);
}

h2 {
  text-align: left;
}

.circular {
  margin-left: 5px !important;
}

.stock-data, .crypto-data {
  overflow: hidden;
  min-height: 350px;
}

.stockSearches, .cryptoSearches {
  text-align: center;
  border-top: 1px solid yellowgreen;
}

.savedBtn {
  margin: 10px !important;
  color: yellowgreen !important;
  background-color: rgb(26, 26, 26) !important;
  min-width: 100px;
}

.search-return {
  margin-top: 60px;
  background-color: rgb(29, 29, 29);
  border: 1px solid whitesmoke;
  color: yellowgreen;
  border-radius: 10px;
}

.amount {
  padding: 20px !important;
  color: whitesmoke;
}

#modalBtnStock, #modalBtnCrypto {
  color: yellowgreen;
  margin: 20px;
}